.card {
    position: relative;
    width: 360px;
    height: 360px;
    color: #2e2d31;
    background-color: rgba(210, 236, 253, 0.1);
    overflow: hidden;
    border-radius: 20px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;  }
  
  .temporary_text {
    // font-weight: bold;
    // height: 400px;
 

    top: 40px;

    // display: block;
    position: relative;
    // margin: 0 auto;
  }
  
  .card_title {
    font-weight: bold;
  }
  
  .card_content {
    position: relative;
    left: 0;
    bottom: 220px;
      /* edit the width to fit card */
    width: 100%;
    padding: 20px;
    // height: fit-content;
    background-color: rgba(210, 236, 253, 0.1);
    border-top-left-radius: 20px;
      /* edit here to change the height of the content box */
    transform: translateY(320px);
    transition: transform .25s;
  }
  
  .card_content::before {
    content: '';
    position: absolute;
    top: -50px;
    right: -50px;
    width: 80px;
    height: 100px;
    transform: rotate(-177deg);
    border-radius: 50%;
    box-shadow: inset 47px 47px #f2f2f2;
  }
  
  .card_title {
    color: #131313;
    line-height: 14px;
  }
  
  .card_subtitle {
    display: block;
    font-size: 22px;
    margin-bottom: 10px;
    color: rgb(204, 26, 2);
  }
  
  .card_description {
    font-size: 14px;
    opacity: 0;
    height:160px;
    transition: opacity .5s;
  }
  
  .card:hover .card_content {
    transform: translateY(0);
    font-weight: bolder;
  }
  
  .card:hover .card_description {
    opacity: 1;
    transition-delay: .25s;
    font-weight: 500;
  }
  .card:hover .temporary_text {
    opacity: 0.2;
    transform: translateY(20px);
    transition: ease-in;
    
  
  }
  
.button{
  display: flex;
  justify-content: space-between;
}
  
  
  
  
  
  
  
  
  
  
  
  
  