.topnav {
    background-color: #6584a8;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2eabdd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #084bb1;
    color: white;
  }

  a {
    font-size: 14px;
    font-weight: 700;
  
   
  }

 
  
    .superNav {
      font-size:13px;
    }
    .form-control {
      outline:none !important;
      box-shadow: none !important;
    }
    @media screen and (max-width:540px){
      .centerOnMobile {
        text-align:center
      }
    }

    .active{
      font-size: 14px;
      font-weight: 700;
      color: #02db14;
      border-color: #084bb1;
    }